* {
	box-sizing: border-box;
}

body {
  margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #212529;
	position: static;
	display: flex;
	flex-wrap: wrap;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 9999;
	background-color: #444;
	padding: 0 20px;
}

h1 {
	color: hotpink;
}

aside {
	margin-top: 80px;
	color: #fff;
	background-color: #212529;
	flex-grow: 1;
}

.h2-aside {
	padding-left: 20px;
	padding-right: 20px;
}

.useful-links {
	padding-left: 0;
	list-style: none;
}

.useful-links__item {
  background-color: #444;
}

.useful-links__item a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-bottom: 2px solid #212529;
  background-color: #2a2f34;
}

.useful-links__item a:hover {
  text-decoration: none;
  color: #ddd;
  background-color: #212529;
}

.relative-element {
	position: relative;
	top: 20px;
	padding: 20px;
	color: hotpink;
}

main {
	margin-top: 80px;
	background-color: #fff;
	flex-grow: 3;
}

.h2-main {
	display: block;
	position: sticky;
	padding: 20px;
	margin: 0;
	top: 80px;
	background-color: hotpink;
}

.surname-list {
	list-style: none;
	padding-left: 20px;
}

.surname-list__item {
	padding: 10px 0;
}
