.person-wrapper {
	display: flex;
	flex-wrap: wrap;

	@media (min-width: $tablet-width) {
		flex-wrap: nowrap;
	}
}

.person__content-wrapper {
	@media (min-width: $tablet-width) {
		margin-left: 70px;
	}
}

.person__title {
	font-weight: 500;
	font-size: 2.4rem;

	@media (min-width: $tablet-width) {
		font-size: 3.2rem;
	}
}

.person__about-us {
	font-weight: 500;
	font-size: 1.8rem;
}
