.birth-date {
	width: 100%;
}

.birth-date__label {
	font-size: 1.4rem;
	color: $color-dark-text;
}

.birth-date-wrapper {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (min-width: $tablet-width) {
		width: 380px;
	}
}
