.card {
	width: 100%;
	height: 470px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 40px;
	margin: 20px 0;

	@media (min-width: $tablet-width) {
		width: 220px;
		height: 350px;
		margin: 20px;
	}
}

.card__text {
	font-weight: 500;
	font-size: 2.4rem;
	padding-left: 30px;
	margin-bottom: 50px;
	text-shadow: 1px 1px 2px #000;
	color: $color-text;

	@media (min-width: $tablet-width) {
		font-size: 1.6rem;
		padding-left: 20px;
		margin-bottom: 10px;
	}

	& > span {
		padding-right: 5px;
	}
}

.card__like {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 10px auto;
	cursor: pointer;
	background: $color-button;
	background: $linear-gradient;
	box-shadow: $color-button-shadow;
	&:active {
		background: $color-active;
	}
}

.card__heart {
	width: 30px;
	height: 30px;
	background-image: url(../../assets/svg/heart-white.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.like.card__heart {
	background-image: url(../../assets/svg/heart-color.svg);
}
