%ico {
	position: absolute;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.input-wrapper {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.input {
	display: inline-block;
	width: 100%;
	padding: 23px 70px;
	border-radius: 40px;
	font-size: 1.6rem;
	color: $color-text;
	background: $color-input;
	border: none;

	&:focus {
		outline: none;
		border: none;
	}

	&::placeholder {
		color: $color-dark-text;
	}
}

.input_error.input {
	box-shadow: inset 0px -2px 0px $color-error;
}

.email.ico-before {
	left: 30px;
	@extend %ico;
	background-image: url(../../assets/svg/email.svg);
}

.user.ico-before {
	left: 30px;
	@extend %ico;
	background-image: url(../../assets/svg/user.svg);
}

.password.ico-before {
	left: 30px;
	@extend %ico;
	background-image: url(../../assets/svg/password.svg);
}

.input_error.ico-after {
	right: 30px;
	@extend %ico;
	background-image: url(../../assets/svg/error.svg);
}

.input_eye.ico-after {
	right: 30px;
	@extend %ico;
	background-image: url(../../assets/svg/eye.svg);
}
