%input__ico {
	position: absolute;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.input-container {
	margin: 20px 0;
}

.input-wrapper {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
}

.input {
	display: inline-block;
	width: 100%;
	padding: 23px 70px;
	border-radius: 40px;
	font-size: 1.6rem;
	color: $color-text;
	background: $color-input;
	border: none;

	&:focus {
		outline: none;
		border: none;
	}

	&::placeholder {
		color: $color-dark-text;
	}
}

.input_error.input {
	box-shadow: inset 0px -2px 0px $color-error;
}

.email.input__ico-before {
	left: 30px;
	@extend %input__ico;
	background-image: url(../../assets/svg/email.svg);
}

.user.input__ico-before {
	left: 30px;
	@extend %input__ico;
	background-image: url(../../assets/svg/user.svg);
}

.password.input__ico-before {
	left: 30px;
	@extend %input__ico;
	background-image: url(../../assets/svg/password.svg);
}

.input_error.input__ico-after {
	right: 30px;
	@extend %input__ico;
	background-image: url(../../assets/svg/error.svg);
}

.input_eye.input__ico-after {
	right: 30px;
	@extend %input__ico;
	background-image: url(../../assets/svg/eye.svg);
}

.input__text-alert {
	display: none;
	text-align: center;
	color: $color-error;
}

.input_error.input__text-alert {
	display: block;
}
