.input-month-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	width: 60%;
	margin: 0 5px;
}

.input-month {
	width: 100%;
	display: inline-block;
	padding: 23px 30px;
	border-radius: 40px;
	font-size: 1.6rem;
	color: $color-dark-text;
	background: $color-input;
	border: none;
	cursor: pointer;
}

.ico-chevron-down {
	position: absolute;
	width: 10px;
	height: 5px;
	right: 30px;
	background-image: url(../../assets/svg/chevron-down.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	cursor: pointer;
}
