$color-background: #230e2b;
$color-text: #ffffff;
$color-dark-text: #8b5d9a;
$color-input: #42204e;
$color-error: #a01414;
$color-menu: #2d1436;

$linear-gradient: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
$linear-gradient-hovered: linear-gradient(90deg, #ffc700 0%, #ff005c 100%);

//$color-primary: #FF9900;
//$color-additional: #FF7549;
//$color-heading: #2F281E;
//$color-border: #D7D7D7;
//$color-light: #ffffff;
//$color-hamburger: #173A56;
//$color-overlay: rgba(80, 80, 80, 0.4);

$content-width: 1200px;
$tablet-width: 768px;
$mobile-width: 375px;
