$color-background: #230e2b;
$color-text: #ffffff;
$color-hovered: #8b5d9a;

//$color-primary: #FF9900;
//$color-additional: #FF7549;
//$color-tag: #F5F5F5;
//$color-heading: #2F281E;
//$color-border: #D7D7D7;
//$color-light: #ffffff;
//$color-hamburger: #173A56;
//$color-overlay: rgba(80, 80, 80, 0.4);

$content-width: 1180px;
$mobile-width: 375px;
