.header-main {
	padding: 15px 0;
	background: $color-menu;
	transition: all 0.3s ease;

	@media (min-width: $tablet-width) {
		padding: 30px 0;
		background: $color-background;
	}
}

.header-main-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__search {
	height: 30px;
	width: 30px;
	background-image: url(../../assets/svg/search-big.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@media (min-width: $tablet-width) {
		height: 20px;
		width: 20px;
		background-image: url(../../assets/svg/search-min.svg);
	}
}

.header__user {
	display: flex;
	align-items: center;
	margin: 0 50px;

	@media (min-width: $tablet-width) {
		margin-right: 0;
	}
}

.header__avatar {
	height: 30px;
	width: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 50%;

	@media (min-width: $tablet-width) {
		height: 40px;
		width: 40px;
	}
}

.header__name {
	display: none;

	@media (min-width: $tablet-width) {
		display: block;
		margin-left: 15px;
	}
}
