.header-main-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__search {
	height: 30px;
	width: 30px;
	background-image: url(../../assets/svg/search-big.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@media (min-width: $tablet-width) {
		height: 20px;
		width: 20px;
		background-image: url(../../assets/svg/search-min.svg);
	}
}

.header__user {
	display: flex;
	align-items: center;
	margin-left: 50px;

	//@media (min-width: $tablet-width) {
	//	margin-right: 0;
	//}
}

.header__avatar {
	height: 30px;
	width: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 50%;

	@media (min-width: $tablet-width) {
		height: 40px;
		width: 40px;
	}
}

.header__name {
	//display: none;
	display: block;
	margin-left: 15px;
	@media (min-width: $tablet-width) {
		display: block;
		margin-left: 15px;
	}
}
