@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

html {
	font-size: 10px;
	font-family: 'Rubik', 'Verdana', sans-serif;
}

body {
	margin: 0;
	height: 100vh;
	background-color: $color-background;
	font-size: 1.6rem;
	font-family: 'Rubik', 'Verdana', sans-serif;
}

#root {
	height: 100%;
}